<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @form.title %><br><br>
  <h4> ATTENTION : à la fin du timer, le QCM se validera automatiquement ! </h4>

  <% unless current_user.admin? %>
    <div class="timer"></div>
  <% end %>
  <%= simple_form_for @form, :url => form_match_path, method: :post do |f| %>
    <% @form.questions.each do |question| %>
      <i>Question : <%= question.title %></i><br>
        <% answers = question.answers %>
        <div style="display:flex;margin:1em 3em">
          <%= collection_radio_buttons(:response, question.id, answers, :id, :content) do |b| %>
            <div style="display:flex;">
              <%=  b.label { b.radio_button } %><%= b.text %>
            </div>
          <% end %>
        </div>
      <% end %>
      <br><br>
      <%= f.submit 'Go to your result' %>
  <% end %>

  <%= javascript_tag "getValues(#{@form.timer},#{@form.id})" %>
  <%= javascript_tag "startTimer()" %>
</p>
